* {
    padding: 0;
    margin: 0;
}

body {
    width:98%;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    line-height: 1.7em;
    font-size: 62.5%;
    margin: 1.8em 1em;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.7em;
    margin-bottom: 0.6667em;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.8em;
    margin-bottom: 0;
}

a:visited{
    color:blue;
}

th {font-size: 1.3em; padding: 0 0.2em;}
td {font-size: 1.2em; padding: 0 0.2em;}

th.left-aligned,
td.left-aligned {
    text-align: left;
}

th.center-aligned,
td.center-aligned {
    text-align: center;
}

th.right-aligned,
td.right-aligned {
    text-align: right;
    padding-right: 1em;
}

#overview {
    width: 100%;
    border-spacing: 0.1em;
}

#overview td {
    padding: 0 1em;
}

#overview thead tr:first-of-type{
    cursor: pointer;
}

#overview tbody tr {
    background-color: #eeeeee;
}

#overview tr:hover {
}

tbody .light.erroneous.number  {background-color: #bf3eff;}
tbody .light.failed.number     {background-color: #ff6a6a;}
tbody .light.skipped.number    {background-color: #63b8ff;}
tbody .light.warning.number    {background-color: #ffff77;}
tbody .light.passed.number     {background-color: #9aff9a;}
tbody .light.notrun.number     {background-color: #faebd7;}

tfoot .erroneous.number, .tc-record.erroneous            {background-color: #9932cc;}
tfoot .failed.number, .tc-record.failed                  {background-color: #cd5555;}
tfoot .skipped.number, .tc-record.skipped                {background-color: #4f94cd;}
tfoot .warning.number, .tc-record.warning                {background-color: #eeee00;}
tfoot .passed.number, .tc-record.passed                  {background-color: #7ccd7c;}
tfoot .notrun.number, .tc-record.notrun                  {background-color: #cdc0b0;}


.operation               {float: right; font-size: 0.8em; margin-right: 0.5em}
.number                  {width: 5em; text-align: right;}
.rate                    {width: 6em; text-align: right; font-weight: bold; }

table.ts-record {
    border: 1px solid black;
    width: 100%;
    line-height: 1.6em;
    margin-top: 1.8em;
    border-spacing: 0.1em;
    border-collapse:collapse;
}

table.ts-record th,
table.ts-record td {
    border: 1px solid black;
}

#ts-records {clear: both; padding-top: 1.5em;}
#ts-records table:first-of-type {margin-top: 0.5em;}

.tc-record-result {
    background-color: #E6E6D6;
}

.checkpoints, .logs             {margin-top: 0; padding-left: 1em;}
.checkpoints li, .logs li       {margin-left: 2em;}
.checkpoint-status-passed       {color: #7ccd7c;}
.checkpoint-status-failed       {color: #cd5555;}
.checkpoint-status-warning      {color: #ffff77;}
.checkpoint-name                {color: #000000;}
.stacktrace                     {font-size: 0.9em; line-height: 1.2em; margin-left: 2em; color: #000000;}


table.parameters {
    margin: 0 2em 1em 2em !important;
    border-collapse:collapse;
}



table.parameters th,
table.parameters td {
    font-size: 0.9em;
}

#info                    {font-size: 1em; text-align: right; float: right;}
#tester                  {color: #666666;}

input {
    vertical-align:middle;
}


#overview-chart-row {
    background-color: #F8F8F8;
}

#overview-chart-div {
    width: 100%;
    height: 300px;
}